*{
    font-family: "Roboto", sans-serif;
}
.main{
    background-color: #f3f3f3;
}
.main.active{
    background-color: #b9ff66;
}
.dot.active{
    color: #b9ff66;
}
.learn{
    margin-top: 150px;
}
.learn-icon{
    margin-top: 150px;
}
